* {
  box-sizing: border-box;
}
/* Hey there, bud. Welcome ( ° ͜ʖ ͡°) -Cuyoya */

html {
    position: relative;
    min-height: 100%;
}

@media only screen and (min-device-width: 641px) {

  body {
    background-image: url('https://i.imgur.com/oUtZ8Qm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

}

body {
  background-color: #f1f1f1;
}

#bazinga{
  position: relative;
  text-align: center;
  font-family: cooper-black-std, serif;
  font-size: 16px;
  text-shadow: 2px 2px 3px black;
  bottom: 5px;
  width: 100%;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}

#bazingo{
  position: relative;
  text-align: center;
  font-family: cooper-black-std, serif;
  font-size: 16px;
  text-shadow: 2px 2px 3px black;
  bottom: 5px;
  width: 100%;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}

#bazingad{
  position: relative;
  text-align: center;
  font-family: cooper-black-std, serif;
  font-size: 25px;
  text-shadow: 4px 4px 5px black;
  bottom: 5px;
  width: 100%;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}


#nice{
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

#regForm {
  background-color: #ff5e91;
  text-shadow: 3px 3px 5px black;
  margin: 10px auto;
  letter-spacing: -1px;
  font-family: cooper-black-std, serif;
  padding: 6vw;
  padding-top: 7vw;
  width: 50%;
  min-width: 300px;
  font-size: 16px;
  font-weight: 1600;
  background-image:url('https://i.imgur.com/Nd3HhKE.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

#regForm select {
  width:100px;}

#regForm select:focus {
width:auto;
}

optgroup { font-size:40px; }

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 24px;
  font-family: Lobster;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 28px;
  font-family: Lobster;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  background-color: #880001;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  top:15px;
  right:0;
  bottom:15px;
  background-color: #ff9fff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #d1005e;
}

@import url("https://p.typekit.net/p.css?s=1&k=zga7vyy&ht=tk&f=6839.6840&a=34288673&app=typekit&e=css");

@font-face {
font-family:"cooper-black-std";
src:url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:bold;font-weight:1600;
}

.tk-cooper-black-std { font-family: "cooper-black-std",serif; }

#textContainer .outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}

@media only screen and (max-device-width : 640px) {

  body {
    background-image: url('https://i.imgur.com/oUtZ8Qm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #bazinga{
    position: relative;
    text-align: center;
    font-family: cooper-black-std, serif;
    font-size: 2.5vw;
    text-shadow: 2px 2px 3px black;
    bottom: 0px;
    width: 100%;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
  }

  #bazingo{
    position: relative;
    text-align: center;
    font-family: cooper-black-std, serif;
    font-size: 2.5vw;
    text-shadow: 2px 2px 3px black;
    bottom: 15px;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }

  #bazingad{
    position: relative;
    text-align: center;
    font-family: cooper-black-std, serif;
    font-size: 4vw;
    text-shadow: 2px 2px 3px black;
    bottom: 5px;
    width: 100%;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    line-height: 0.5;
  }

  #nice{
    vertical-align: middle;
    height: 6vw;
    width: 6vw;
  }

  #regForm {
    background-color: #ff5e91;
    text-shadow: 3px 3px 5px black;
    margin: 10px auto;
    letter-spacing: -1px;
    font-family: cooper-black-std, serif;
    padding: 6vw;
    padding-top: 7vw;
    width: 90%;
    min-width: 300px;
    font-size: 16px;
    font-weight: 1600;
    background-image:url('https://i.imgur.com/Nd3HhKE.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
  }

  }
