@media only screen and (max-device-width : 640px) {

#logo {
  width: 100%;
}

#player {
  width: 95%;
  height: 95%;

}

.module-border-wrap {
  padding: 1vw;
  position: relative;
  background: linear-gradient(to bottom, red, #330000);
  padding: 3px;
}

.module-border-wrap {
    position: ;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
#player {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

}

@media only screen and (min-device-width: 641px) {

  body {
    background-image: url('https://i.imgur.com/oUtZ8Qm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .module-border-wrap {
    padding: 2px;
    width: 820px;
    height: 470px;
    position: relative;
    background: linear-gradient(to bottom, red, #330000);
  }

  #player {
      position: center;
      padding-top: 10px;
    }
}
