@media only screen and (max-device-width : 640px) {

#logo {
  width: 100%;
}

#sharelol {
  width: 60%;
}

#player {
  width: 95%;
  height: 95%;

}

.module-border-wrap {
  padding: 1vw;
  position: relative;
  background: linear-gradient(to bottom, red, #330000);
  padding: 3px;
}

.module-border-wrap {
    position: ;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
#player {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

button {
  background-color: #ffffff;
  color: #000000;
  border: solid;
  padding: 10px 20px;
  font-size: 48px;
  font-family: sans-serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  background-color: #a9a9a9;
}

textarea {
  width: 60%;
  outline: none;
  resize: none;
  font-family: sans-serif;
  font-size: 36px;
  height: 132px;
}

}

@media only screen and (min-device-width: 641px) {

  #sharelol {
    width: 350px;
  }


  body {
    background-image: url('https://i.imgur.com/oUtZ8Qm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .module-border-wrap {
    padding: 2px;
    width: 820px;
    height: 470px;
    position: relative;
    background: linear-gradient(to bottom, red, #330000);
  }

  #player {
      position: center;
      padding-top: 10px;
    }

    button {
      background-color: #ffffff;
      color: #000000;
      border: solid;
      padding: 10px 20px;
      font-size: 28px;
      font-family: sans-serif;
      cursor: pointer;
    }

    button:hover {
      opacity: 0.8;
      background-color: #a9a9a9;
    }

    textarea {
      width: 320px;
      outline: none;
      resize: none;
      font-family: sans-serif;
      font-size: 18px;
      height: 70px;
    }
}
