/* Copyright 2018-2020 Epic Systems Corporation */
.section .chart table tr.odd {
  background-color: #f8f8f8;
}
.section .chart table tr td.fixed {
  border-right-style: solid;
  border-right-width: 2px;
  padding-left: 0.75rem;
}
.section .chart table tr td.fixed.withBubble {
  padding-right: 1.75rem;
}
.section .chart table tr.text td.fixed {
  border-right: none;
}
.section .chart .tableWrapper table tr .fixed:not(.withBubble),
.section .chart .tableWrapper table tr .group {
  visibility: visible;
  opacity: 0;
}
.section .chart .tableOverlay table tr .scroll {
  visibility: hidden;
}
.section .chart .tableOverlay table tr .fixed {
  visibility: visible;
  opacity: 1;
}
.section .chart table tr td.scroll:nth-child(n+3) {
  border-left-style: solid;
  border-left-width: 1px;
}
.section .chart .tableOverlay table tr td.scroll:nth-child(n+3) {
  border-left-color: transparent;
}
.section .chart .tableWrapper table tr td.scroll.action,
.section .chart .tableWrapper table tr td.scroll.buffer {
  border: none;
}
.section .chart .tableWrapper table tr:not(.text) td.scroll.buffer {
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #eaeaea;
}
.section .chart .tableOverlay table tr, .section .chart .tableOverlay table tr.odd {
  background-color: transparent;
}
.section .chart .tableOverlay table tr th.fixed {
  background: #fbebeb;
}
.section .chart .tableOverlay table tr .fixed {
  background-color: #ffffff;
}
.section .chart .tableOverlay table tr.odd .fixed {
  background-color: #f8f8f8;
}
.section .chart table tr.text + tr.text td {
  border: none;
}
.section .chart .popupiconcontainer {
  position: absolute;
  z-index: 1;
}
.section .chart .tableOverlay .popupiconcontainer {
  visibility: hidden;
}

.section .graph > .alert.card:first-child {
  border-radius: 6px;
  margin: 0 auto 0.5rem;
  width: 75%;
}
.section .graph .cgContainer {
  text-align: center;
}
.section .graph .cgImgContainer {
  display: inline-block;
  line-height: 0;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: none;
}
.section .graph .tooltipDiv {
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  display: none;
  line-height: 1rem;
  margin: 0.25rem 0 0 0.75rem;
  max-width: 15rem;
  padding: 0.25rem;
  position: absolute;
  width: auto;
  font-size: 1em;
}
.section .graph .tooltipDiv .ttSeriesNameDiv {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.section .graph .tooltipDiv .ttValueDiv {
  font-weight: bold;
  padding: 0.25rem 0;
}
.section .graph .tooltipDiv .ttDateTimeDiv,
.section .graph .tooltipDiv .ttDetailsDiv,
.section .graph .tooltipDiv .ttMessageDiv {
  font-size: 0.8rem;
}

.section .chart,
.section .tallchart {
  width: 100%;
  margin: 0 0 15px 0;
  position: relative;
}
.section .chart .button,
.section .tallchart .button {
  font-size: 0.9em;
}
.section .chart table,
.section .tallchart table {
  border-collapse: collapse;
  width: 100%;
}
.section .chart th,
.section .tallchart th {
  text-align: left;
}

.section .tallchart table colgroup col {
  width: 10%;
}
.section .tallchart table colgroup col.header {
  width: 8%;
}
.section .tallchart table colgroup col.text:nth-last-child(2) {
  width: 7%;
}
.section .tallchart table colgroup col:last-child {
  width: auto;
}

.section .chart table tr th.buffer,
.section .chart table tr td.buffer {
  padding: 0px;
  margin: 0px;
  width: 85%;
}

.section .tallchart table tr.bottomheader th,
.section .chart table tr.bottomheader th {
  vertical-align: bottom;
}

.section .chart table tr th {
  white-space: nowrap;
}

.section .chart table tr td table td,
.section .chart table tr th table th,
.section .tallchart tbody table tr td table td,
.section .tallchart tbody table tr th table th {
  border: none;
}

.section .chart table tr td.name,
.section .tallchart table tr td.name {
  font-weight: bold;
}

.section .tallchart table tr td.fixed {
  white-space: nowrap;
}

.section .chart table tr th.group {
  border-width: 1px;
  border-style: solid;
}

.section .tallchart table tr th.group,
.section .tallchart table tr td.group {
  display: none;
}

.section .tallchart table tr td div.inlinetime,
.section .chart table tr td div.inlinetime {
  font-size: 0.8em;
  text-align: left;
}
.section .tallchart table tr th div.refrange,
.section .tallchart table tr td div.refrange,
.section .chart table tr th div.refrange,
.section .chart table tr td div.refrange {
  font-weight: normal;
  font-style: italic;
}

.section table img.yesNoImg {
  width: 35px !important;
  height: 36px !important;
}

.section .chart table tr th.group {
  border-color: #eaeaea;
  white-space: normal;
}

.section .tableOverlay table tr.header th.invisible {
  border: none;
}

.section .chart table tbody tr.header:nth-of-type(n + 2),
.section .tallchart table tbody tr.header:nth-of-type(n + 2) {
  border-top-style: solid;
  border-top-width: 1px;
}

.section .tableWrapper table tbody tr.text:nth-last-child(2), .section .tableWrapper table tbody tr.header:nth-of-type(n + 2) {
  border-color: #dbdbdb;
}
.section .tableWrapper table tbody tr.text:nth-last-child(2) {
  border-top: 1px solid #eaeaea;
}

.section .tallchart {
  overflow: auto;
}

.section .content .PEF fieldset {
  margin: 0;
  padding: 0;
}

.section .content .PEF {
  overflow: hidden;
}
.section .content .PEF .prompts,
.section .content .PEF fieldset.reading {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 25%;
}
.section .content .PEF fieldset.reading.first.last {
  width: 75%;
}
.section .content .PEF fieldset.reading.first + .reading.last {
  width: 50%;
}
.section .content .PEF fieldset.reading select {
  width: 100%;
}
.section .content .PEF fieldset.reading.first.last select, .section .content .PEF fieldset.reading.first + .reading.last select {
  width: 50%;
}
.section .content .PEF .reading .ampm,
.section .content .PEF .reading .timeentry {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
.section .content .PEF .prompt,
.section .content .PEF .headerrow,
.section .content .PEF div.reading {
  padding: 0.5rem;
}
.section .content .PEF .headerrow {
  background-color: rgba(204, 0, 0, 0.05);
  color: #cc0000;
  width: 100%;
}
.section .content .PEF .prompt,
.section .content .PEF div.reading {
  background-color: #ffffff;
  border-color: #eaeaea transparent transparent;
  border-style: solid none none;
  border-width: 1px 0 0;
}
.section .content .PEF .prompt {
  line-height: 1.5rem;
}
.section .content .PEF .grouper {
  margin: 1rem 0 0;
}
.section .content .PEF .grouper.prompt {
  background-color: rgba(204, 0, 0, 0.05);
  color: #cc0000;
  max-width: none;
}
.section .content .PEF .grouper.reading {
  padding-left: 0;
  padding-right: 0;
  width: 0;
}
.section .content .PEF div.reading.date.odd {
  min-width: 14rem;
}
.section .content .PEF table div.popupiconcontainer,
.section .content .PEF table a.popupinstructionsicon {
  float: left;
}
.section .content .PEF table div.popupiconcontainer {
  width: auto;
}
.section .content .PEF .delete {
  min-height: 3.25rem;
}

.section#adddayentry .content .PEF table .popupiconcontainer,
.section#adddayentry .content .PEF table .popupinstructionsicon,
.section#editdayentry .content .PEF table .popupiconcontainer,
.section#editdayentry .content .PEF table .popupinstructionsicon {
  float: none;
}

.section .content div.timeentry,
.section .content div.ampm {
  width: auto;
  float: left;
  display: inline-block;
}

.section .content {
  overflow: hidden;
}

div.section div.cgMainDiv div.chart {
  display: none;
}

form.graphXmlForm,
form.graphXmlForm * {
  display: none;
}

div.cgMainDiv div.linkdiv {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
}

div.graph div.linkdiv {
  margin-top: 7px;
}

.section div.cgImgContainer,
.section canvas.graphCanvas {
  border-style: solid;
  border-width: 1px;
}

.section div.graph div .spinDiv {
  text-align: center;
}
.section div.graph div .spinDiv img {
  float: none !important;
  width: 64px !important;
  height: 64px !important;
  text-align: center;
  margin-top: 45px !important;
}

.section div.graph p {
  text-align: center;
  margin: 0 0 0 0;
  width: auto;
}
.section div.graph p.noPrintWarning {
  display: none;
  padding: 10px 30px;
}

.section div.cgContainer p.errmsg {
  margin-top: 25px;
}

.section div.dataselect {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
.section div.dataselect .inlineinput {
  display: inline-block;
  margin: 0 0.25rem;
  vertical-align: middle;
}
.section div.dataselect .datesInputWrapper {
  display: inline-block;
  width: auto;
  vertical-align: top;
}
.section div.dataselect .inputWrapper {
  display: inline-block;
  width: auto;
  max-width: 9rem;
  vertical-align: top;
  margin: 0 0.75rem 0 0;
}
.section div.dataselect .inputWrapper label {
  display: block;
}
.section div.dataselect .inputWrapper input.date.withCalendar {
  margin-bottom: 0.25rem;
}
.section div.dataselect .inputWrapper .messagedisplay {
  display: block;
  max-width: 8.8rem;
  margin-top: 0;
}
.section div.dataselect .inputWrapper .messagedisplay .alert {
  margin-top: 0;
}
.section div.dataselect .inputWrapper a.calendar {
  margin: 0.25rem 0.25rem 0.35rem 0;
}
.section div.dataselect .inputSeparator {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 1.6rem 1.2rem 0.5rem 0.25rem;
}
.section div.dataselect #apply {
  vertical-align: top;
  top: 1.05rem;
  margin: 0.25rem 0;
}

.graphnotes,
.section div.graph p.alert,
.section div.graph div.graphnotes > p {
  text-align: left;
}

.section div.graph p.alert {
  margin-bottom: 5px;
}
.section div.graph div.graphnotes > p {
  margin: 10px 0px 3px 0px;
}

.section .graphnotes ul {
  list-style-type: disc;
  margin-left: 22px;
}

.md_fshreport .dataselect .row > *,
.md_pefltdtl .dataselect .row > * {
  display: inline-block;
  vertical-align: middle;
}
.md_fshreport .dataselect .col-9,
.md_pefltdtl .dataselect .col-9 {
  width: 75%;
}
.md_fshreport .dataselect .col-9 + br,
.md_pefltdtl .dataselect .col-9 + br {
  display: none;
}
.md_fshreport .dataselect .col-3,
.md_pefltdtl .dataselect .col-3 {
  width: 25%;
}

div.seriessel input.radio + label {
  width: calc(100% - 20px);
}

.section .seriessel .content table tbody tr td input.radio {
  vertical-align: middle;
}

div.seriessel {
  position: relative;
}
div.seriessel > div {
  margin: 0px !important;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
}
div.seriessel > div.content {
  overflow-y: auto;
  max-height: 400px;
}
div.seriessel > div.content.card {
  border-radius: 6px;
}
div.seriessel table tr,
div.seriessel table tr td {
  border: none !important;
  vertical-align: bottom;
}
div.seriessel table {
  width: 100%;
}
div.seriessel .corner {
  float: right;
}
div.seriessel input.button {
  margin: 0 0.25rem 0 0;
  padding: 0 5px;
}
div.seriessel input.chkbx {
  margin: 0 0.25rem 0 0;
}
div.seriessel.hide {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
