/* Copyright 2018-2021 Epic Systems Corporation */
/* #region HPR menu styles */
.menu-closebutton {
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  /* rtl:raw: transform: scale(-1,1); */
}
@media only screen and (max-width: 768px) {
  .menu-closebutton {
    display: none;
  }
}
.menu-closebutton:hover {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
.menu-closebutton:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}

.menu-buttonicon {
  margin: 0.125rem;
  height: 1.75rem;
  width: 1.75rem;
  fill: #ffffff;
}

.menu-responsiveclosebutton {
  display: none;
  border: none;
  background: none;
  padding-right: 0.75rem;
  font-weight: 600;
  color: #cc0000;
}
@media only screen and (max-width: 768px) {
  .menu-responsiveclosebutton {
    display: inline-block;
  }
}
.menu-responsiveclosebutton.iOS:focus {
  outline: none;
}

.menu-searchcontainer {
  display: flex;
  flex-direction: row-reverse;
  min-height: 3rem;
}

.menu-searchbarcontainer {
  display: flex;
}

.menu-searchbar {
  width: 100%;
  min-width: 0%;
  max-height: 2.25rem;
  display: inline-block;
  margin: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-appearance: none;
  z-index: 10;
  background: transparent;
}
.menu-searchbar::-ms-clear {
  display: none;
}
.menu-searchbar[placeholder] {
  text-overflow: ellipsis;
}

.menu-searchicon {
  margin: 0.6rem;
  margin-right: -2.5rem;
  z-index: 9;
  height: 2rem;
  width: 2rem;
}

.menu-searchemptybutton {
  margin: 0.6rem;
  margin-left: -2.6rem;
  z-index: 11;
}

.menu-searchemptyicon {
  fill: #767676;
  height: 2rem;
  width: 2rem;
}

#menu-shield {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: 0.1s;
  transition-timing-function: ease-out;
  z-index: 3002;
}
#menu-shield.menu-shieldopen {
  opacity: 1;
}

#menu-container {
  position: fixed;
  left: -25rem;
  transition: 0.2s;
  transition-timing-function: ease-in;
}
#menu-container.menu-open {
  left: 0;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

#menu-container, .menu-container {
  height: calc(100% - 1rem);
  width: 25rem;
  top: 1rem;
  background-color: #ffffff;
  position: fixed;
  z-index: 3003;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top-right-radius: 1.25rem;
  opacity: 0;
}
#menu-container.menu-open, .menu-container.menu-open {
  opacity: 1;
}
#menu-container .menu-flexparent, .menu-container .menu-flexparent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#menu-container .hilite, .menu-container .hilite {
  background-color: transparent;
  font-weight: bolder;
}
#menu-container .menu-headertop, .menu-container .menu-headertop {
  display: flex;
  flex-direction: row-reverse;
}
#menu-container .menu-mainmenulist, .menu-container .menu-mainmenulist {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
#menu-container .menu-contextlabel, .menu-container .menu-contextlabel {
  display: inline;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
  word-break: break-word;
}
#menu-container .menu-searchlist, .menu-container .menu-searchlist {
  overflow-y: auto;
  overflow-x: hidden;
}
#menu-container .menu-searchresultstotal, .menu-container .menu-searchresultstotal {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
#menu-container .menu-searchresultstotal:empty, .menu-container .menu-searchresultstotal:empty {
  padding-bottom: 0rem;
}
#menu-container .submenu-header, .menu-container .submenu-header {
  display: block;
  padding: 0.5rem;
  font-size: 1.15rem;
  font-weight: bold;
  color: #363636;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#menu-container .menuitem, .menu-container .menuitem {
  position: relative;
}
#menu-container .menuitem .menuitem-label, .menu-container .menuitem .menuitem-label {
  color: #363636;
  padding: 0.325rem 0 0 0.325rem;
  display: block;
  max-width: calc(100% - 2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#menu-container .menuitem .menuitem-icon, .menu-container .menuitem .menuitem-icon {
  height: 1.75rem;
  width: 1.75rem;
  margin: 0.1rem;
  margin-left: 0.2rem;
  flex: 0 0 1.75rem;
}
#menu-container .menuitem:hover .menuitem-content, .menu-container .menuitem:hover .menuitem-content {
  text-decoration: none;
  background: #f2f2f2;
}
#menu-container .menuitem .menuitem-content:focus, .menu-container .menuitem .menuitem-content:focus {
  text-decoration: none;
  background: #f2f2f2;
}
#menu-container .menuitem .menuitem-content, .menu-container .menuitem .menuitem-content {
  display: flex;
}
#menu-container .menuitem.menuitem-searchsynonymmatch, .menu-container .menuitem.menuitem-searchsynonymmatch {
  height: 3rem;
}
#menu-container .menuitem.menuitem-searchsynonymmatch .menuitem-icon, .menu-container .menuitem.menuitem-searchsynonymmatch .menuitem-icon {
  margin-top: 0.7rem;
}
#menu-container .menuitem.menuitem-searchsynonymmatch .menuitem-searchsynonym, .menu-container .menuitem.menuitem-searchsynonymmatch .menuitem-searchsynonym {
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 2rem);
}
#menu-container .menuitem:not(:last-child), .menu-container .menuitem:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
#menu-container .submenu:last-child, .menu-container .submenu:last-child {
  padding-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #menu-container, .menu-container {
    width: calc(100% - 1rem);
    height: calc(100% - 5rem);
    border-radius: 0.5rem;
    top: 4.5rem;
    transform: translateX(-100%);
    left: -100%;
  }
  #menu-container.menu-open, .menu-container.menu-open {
    left: calc(100% - 0.5rem);
  }
  #menu-container .menu-list, .menu-container .menu-list {
    overflow-y: auto;
    max-height: none;
    margin-bottom: 0rem;
  }
  #menu-container .menu-headertop, .menu-container .menu-headertop {
    text-align: center;
  }
  #menu-container .menu-headertop .menu-contextlabel, .menu-container .menu-headertop .menu-contextlabel {
    padding-top: 0rem;
  }
  #menu-container .menu-header, .menu-container .menu-header {
    padding-top: 0.5rem;
  }
}

/* #endregion HPR menu*/
/* #region Arabic language CSS Styles */
#header[lang=ar]:not(.header_graphic) {
  font-size: 15pt;
  font-family: "Geeza Pro", Arial, sans-serif;
}
#header[lang=ar]:not(.header_graphic) .menu .menuicon:before {
  margin-bottom: 0.6rem;
}
#header[lang=ar]:not(.header_graphic) #proxies .proxy {
  margin: 0 -0.4em;
}
#header[lang=ar]:not(.header_graphic) .menugroup {
  font-size: 0.9em;
}
#header[lang=ar]:not(.header_graphic) .menuicon {
  display: block;
  height: 100%;
  line-height: calc(15pt * 1.4);
  overflow: hidden;
  text-overflow: ellipsis;
}
#header[lang=ar]:not(.header_graphic).compact .menuicon {
  line-height: 0.9em;
}

html[lang=ar] #header:not(.header_graphic) {
  height: 5.5em;
}
html[lang=ar] #header:not(.header_graphic) #proxies .iconlabel {
  line-height: 1.25rem;
}
html[lang=ar] #header:not(.header_graphic) .menuicon {
  line-height: 1.4em;
}
html[lang=ar] #header:not(.header_graphic) .menu .menuicon {
  line-height: 1.1em;
}

html[lang=ar] .isInside #header.compact:not(:empty):not(.header_graphic) {
  height: 8.7em;
}

@media only screen and (max-width: 1300px) and (min-width: 1px) {
  html #header[lang=ar].compact #menu.headeritem {
    height: 4.5rem;
  }
}
@media (min-width: 1301px) {
  .isInside #header.compact[lang=ar]:not(:empty):not(.header_graphic) {
    height: 3.5em;
  }
}
/* #endregion Arabic language */
/* #region Header */
#header:not(:empty) {
  border: none;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.2);
  height: 5.5em;
  min-width: 1280px;
  padding: 0.5em 0 0;
  position: relative;
  width: 100%;
  z-index: 10;
  right: auto;
}
#header:not(:empty) .headeritem {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.isInside #header:not(:empty) {
  background: #ffffff;
  position: fixed;
  top: 0;
}
.isInside #header:not(:empty).noTransitions {
  transition: none !important;
}

#header:not(:empty).header_graphic {
  height: 6.9rem;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
}
#header:not(:empty).header_graphic .fitme {
  max-width: 1440px;
}
#header:not(:empty).header_graphic .header_color {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 3.9rem;
  margin-top: 0;
  transition: height 0.2s;
}
#header:not(:empty).header_graphic.compact .header_color {
  height: 3.9rem;
}

#graphicHeader:not(:empty) {
  height: auto;
  margin-left: 0.3rem;
  position: absolute;
  width: calc(100% - 0.6rem);
}
#graphicHeader:not(:empty) #skipToMain {
  left: 0;
  top: -5rem;
  display: block;
  position: fixed;
  color: #ffffff;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 3px #ffffff;
  filter: brightness(1.2);
  margin: 2px;
  padding: 0.2rem;
  pointer-events: none;
  text-decoration: underline;
  z-index: 5;
  opacity: 0;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-property: opacity, top;
}
#graphicHeader:not(:empty) #skipToMain:focus {
  opacity: 1;
}
#graphicHeader:not(:empty) #skipToMain:focus {
  pointer-events: auto;
}
#graphicHeader:not(:empty) #skipToMain:focus {
  top: 0;
}
#graphicHeader:not(:empty) #header_menu_name,
#graphicHeader:not(:empty) .shortcut_name,
#graphicHeader:not(:empty) #logout_button,
#graphicHeader:not(:empty) #localeswitch,
#graphicHeader:not(:empty) .currentlySelectedNameInner,
#graphicHeader:not(:empty) .switchPatientsTextOuter {
  font-size: 0.9rem;
  line-height: 1rem;
}
#graphicHeader:not(:empty) #header_menu_name,
#graphicHeader:not(:empty) .shortcut_name {
  margin-top: 2px;
}
#graphicHeader:not(:empty) .logo_image {
  max-height: 100%;
}
#graphicHeader:not(:empty) #header_logo_by_epic {
  width: 4.2rem;
  animation: fadeIn 0.4s;
  margin-top: 0.7rem;
}
#header.compact #graphicHeader:not(:empty) #header_logo_by_epic {
  display: none;
}
#graphicHeader:not(:empty) #header_logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3.5rem;
  margin-top: 0.2rem;
  min-width: 41%;
  width: 41%;
}
html[lang=ar] #graphicHeader:not(:empty) #header_logo {
  min-width: 40%;
  width: 40%;
}
#graphicHeader:not(:empty) #header_logo .header_logo_link {
  background: transparent url("../images/logo.svg") no-repeat scroll center/contain;
  display: block;
  height: 100%;
  width: 100%;
}
#graphicHeader:not(:empty) #header_logo .header_logo_link:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
#graphicHeader:not(:empty) #header_navigation {
  position: absolute;
  top: 4.2rem;
  white-space: nowrap;
  transition: top 0.2s;
  z-index: 1;
  width: 100%;
  max-width: 90%;
}
#header.compact #graphicHeader:not(:empty) #header_navigation {
  top: 0.725rem;
  z-index: 0;
  max-width: 50%;
}
#graphicHeader:not(:empty) #header_menu {
  width: auto;
  top: 6px;
  display: inline-block;
  padding-right: 2.2rem;
  z-index: 2;
  max-width: 20%;
  height: 2.7rem;
}
#header.compact #graphicHeader:not(:empty) #header_menu {
  max-width: 30%;
}
#graphicHeader:not(:empty) #header_menu #header_menu_icon {
  display: inline-block;
  vertical-align: middle;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#header.compact #graphicHeader:not(:empty) #header_menu #header_menu_icon {
  box-shadow: 0px 0px 3px #ffffff;
}
#graphicHeader:not(:empty) #header_menu #header_menu_icon .menu_image {
  height: 2.4rem;
  width: 2.4rem;
  fill: #ffffff;
}
#graphicHeader:not(:empty) #header_menu #header_menu_name {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
  padding: 1px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 2.4rem);
  white-space: initial;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#header.compact #graphicHeader:not(:empty) #header_menu #header_menu_name {
  color: #000000;
  max-width: 100%;
}
#graphicHeader:not(:empty) #header_menu:hover {
  cursor: pointer;
}
#graphicHeader:not(:empty) #header_menu:hover #header_menu_icon {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#graphicHeader:not(:empty) #header_menu:hover #header_menu_name {
  text-decoration: underline;
}
#graphicHeader:not(:empty) #header_menu:active #header_menu_icon {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}
#graphicHeader:not(:empty) #header_shortcuts {
  display: inline-block;
  max-width: 80%;
  animation: fadeIn 0.4s;
  width: 100%;
}
#header.compact #graphicHeader:not(:empty) #header_shortcuts {
  display: none;
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut {
  display: inline-block;
  width: auto;
  padding-right: 1.2rem;
  max-width: 25%;
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut_name {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 2rem);
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut_link {
  display: inline-block;
  color: #363636;
  padding-bottom: 4px;
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut_link .shortcut_icon {
  vertical-align: middle;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  background-clip: border-box;
  padding: 1px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #graphicHeader:not(:empty) #header_shortcuts .shortcut_link .shortcut_icon {
    height: 32px;
    width: 32px;
  }
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut_link:hover .shortcut_name {
  text-decoration: underline;
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut_link:hover .shortcut_icon {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#graphicHeader:not(:empty) #header_shortcuts .shortcut_link:active .shortcut_icon {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}
#graphicHeader:not(:empty) #header_extras {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 50%;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}
#header.compact #graphicHeader:not(:empty) #header_extras {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
#graphicHeader:not(:empty) #header_extras_actions {
  flex: 0 1 auto;
  width: auto;
  height: 2.55rem;
}
#graphicHeader:not(:empty) #header_extras_actions .extra_action_image {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
}
#graphicHeader:not(:empty) #header_extras_actions_group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#graphicHeader:not(:empty) #logout_container, #graphicHeader:not(:empty) #locale_container {
  width: auto;
  height: 2.25rem;
  margin-left: 0.2rem;
  min-width: 2.5rem;
}
#graphicHeader:not(:empty) #logout_button, #graphicHeader:not(:empty) #localeswitch {
  margin-top: 0.825rem;
}
#graphicHeader:not(:empty) #logout_button, #graphicHeader:not(:empty) #localeswitch, #header.compact #graphicHeader:not(:empty) #proxyMenuButton {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 6px;
  height: 2.25rem;
}
#graphicHeader:not(:empty) #logout_button .switchPatientsTextOuter:after, #graphicHeader:not(:empty) #localeswitch .switchPatientsTextOuter:after, #header.compact #graphicHeader:not(:empty) #proxyMenuButton .switchPatientsTextOuter:after {
  border-color: white transparent transparent transparent;
  margin-left: 0.2rem;
}
#graphicHeader:not(:empty) .proxyButton .currentlySelectedNameInner {
  line-height: 1rem;
}
#header.compact #graphicHeader:not(:empty) .proxyButton {
  /*turn to dark when white chevron available background: transparentize($_BasicColor-Black,0.45);*/
  color: #ffffff;
}
#header.compact #graphicHeader:not(:empty) .proxyButton .proxyChevronImage {
  fill: #ffffff;
}
#header.compact #graphicHeader:not(:empty) .proxyButton:hover, #header.compact #graphicHeader:not(:empty) .proxyButton:focus {
  filter: brightness(1.2);
  box-shadow: 0 0 3px 0 #ffffff;
}
#header.compact #graphicHeader:not(:empty) .proxyButton .switchPatientsTextOuter {
  margin-top: 0;
}
#header.compact #graphicHeader:not(:empty) .proxySelectorDropDownContainer:not(.withDropdown) .namePlusChevron {
  display: none;
}
#header.compact #graphicHeader:not(:empty) .proxySelectorDropDownContainer:not(.withDropdown) .patientPhotoContainer {
  margin: -1px 0 0 0;
}
#graphicHeader:not(:empty) #logout_button {
  cursor: pointer;
  color: #ffffff;
  padding: 2px 4px;
  line-height: 1.4rem;
  white-space: nowrap;
  z-index: 2;
}
#graphicHeader:not(:empty) #logout_button:hover, #graphicHeader:not(:empty) #logout_button:focus {
  filter: brightness(1.2);
  box-shadow: 0 0 3px 0 #ffffff;
}
#graphicHeader:not(:empty) #logout_button #logout_image {
  margin-right: 0.4rem;
  fill: #ffffff;
}
#graphicHeader:not(:empty) #logout_button #logout_text {
  display: inline-block;
  position: relative;
  top: 0.1rem;
  right: 0.2rem;
}
#graphicHeader:not(:empty) #locale_container {
  line-height: 1.2rem;
  margin-right: 0.3rem;
  z-index: 3;
}
#header.compact #graphicHeader:not(:empty) #locale_container {
  display: none;
}
#graphicHeader:not(:empty) #locale_container #localeswitch {
  padding: 3px 4px;
  position: relative;
  top: 0;
  right: auto;
}
#graphicHeader:not(:empty) #locale_container #localeswitch #localeImg {
  margin: 0;
}
#graphicHeader:not(:empty) #locale_container #localeswitch:after {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-color: #ffffff transparent transparent transparent;
}
#graphicHeader:not(:empty) #locale_container #morelocales {
  border-radius: 6px;
  position: fixed;
  top: 2.6rem;
  background-color: #ffffff;
  color: #363636;
  width: auto;
  padding: 0.5rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  z-index: 4;
  text-align: left;
  max-width: none;
}
#graphicHeader:not(:empty) #locale_container #morelocales .morelocalesitem {
  padding: 0.15rem 0.3rem;
  white-space: nowrap;
}
#graphicHeader:not(:empty) #locale_container #morelocales .morelocalesitem a:hover, #graphicHeader:not(:empty) #locale_container #morelocales .morelocalesitem a:focus {
  text-decoration: underline;
}
#graphicHeader:not(:empty) #header_extras_proxy {
  flex: 0 1 auto;
  width: auto;
  height: 2.55rem;
  z-index: 2;
}
#graphicHeader:not(:empty) #header_extras_proxy #proxy_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 1.55rem;
}
#header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container {
  margin-top: 0.825rem;
  margin-right: 1rem;
}
#graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch {
  font-size: 0.8rem;
  line-height: 1.2rem;
  width: auto;
  height: 2.75rem;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: auto 0 auto 0.8rem;
  flex: 1 0 auto;
}
#header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch {
  margin-top: 0;
  margin-right: 5px;
}
@media only screen and (max-width: 700px) {
  #header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch .switchPatientsText {
    display: none;
  }
}
#header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch #proxyMenuButton .roundedPatientPhoto {
  max-width: 2rem;
  max-height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  margin-top: -1px;
}
#header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch .switchPatientsTextOuter:after {
  margin-right: 0.2rem;
}
#header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch .currentlySelectedNameInner {
  display: none;
}
#graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch .currentContextContainer {
  width: auto;
}
#graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch .currentContextPhoto {
  height: 2.5rem;
}
#graphicHeader:not(:empty) #header_extras_proxy #proxy_container #patient_name_switch .proxySelectorDropDownContainer {
  margin-right: 0;
}

.contentOnly #header :not(:empty) {
  position: relative;
  text-align: center;
}

.isInside #header.compact:not(:empty) {
  height: 4rem;
}

.isInside #header.header_graphic.compact:not(:empty) {
  height: 3.9rem;
}

/* #endregion */
/* #region Proxies */
#header #proxies {
  padding: 0 0.5rem 0 1.5rem;
  width: auto;
}
#proxies.noProxies {
  width: 6rem;
}
#header.compact #proxies .proxy {
  width: 2em;
}
#header.compact #proxies .proxy.preview, #header.compact #proxies .proxy.selected:not(.shrink) {
  width: 3em;
}
#header.compact #proxies .proxy .proxyicon {
  height: 2em;
}
#header.compact #proxies .grow .proxyicon,
#header.compact #proxies .preview > a .proxyicon,
#header.compact #proxies .selected:not(.shrink) > a .proxyicon {
  height: 3em;
}
#header #proxies .proxy.selected:not(.hidebar):after {
  margin: 0 0 0 -15%;
}
#header #proxies .iconlabel {
  margin: 0 0 0 -50%;
}
#header.compact #proxies > li > .grow .iconlabel,
#header.compact #proxies .selected:not(.shrink) > a .iconlabel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#proxies #moretabs .iconlabel {
  display: inline-block;
  height: auto;
  line-height: 1rem;
  margin: 0 0 0 0.5rem;
  opacity: 1;
  vertical-align: middle;
  visibility: visible;
  white-space: normal;
  width: calc(100% - 3rem);
}
#proxies #moretabs {
  background: #ffffff;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  display: none;
  font-weight: normal;
  margin: 0 0 0 -0.75em;
  padding: 0 0.75em 0.5em;
  opacity: 0;
  text-align: left;
  visibility: hidden;
  white-space: nowrap;
  width: 250%;
}
#proxies #moretabs.mtShow {
  display: block;
  opacity: 1;
  visibility: visible;
}
#proxies .selected #moretabs {
  margin: 0.25em 0 0 -0.75em;
}
#proxies #moretabs .proxyicon {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 2.5em;
}
#header.compact #proxies #moretabs .proxyicon {
  width: 2em;
}
#proxies #moretabs .grow .proxyicon {
  width: 3.5em;
}
#header.compact #proxies #moretabs .grow .proxyicon {
  width: 3em;
}
#proxies #moretabs .grow .iconlabel {
  width: calc(100% - 4rem);
}
#header.compact #proxies #moretabs .grow .iconlabel {
  width: calc(100% - 3.5rem);
}
#proxies #photoImg_morecontainer {
  display: block;
  left: 0.125em;
  position: relative;
  top: -1.9375em;
}
#header[lang=ar] #proxies #photoImg_morecontainer {
  /*rtl:begin:ignore*/
  right: 0.8em;
  /*rtl:end:ignore*/
}
html[lang=ar] #proxies #photoImg_morecontainer {
  top: -2.2em;
}
#header.compact #proxies #photoImg_morecontainer {
  left: 0.0625em;
  top: -1.625em;
}
#header[lang=ar].compact #proxies #photoImg_morecontainer {
  /*rtl:begin:ignore*/
  right: 0.6em;
  /*rtl:end:ignore*/
}
html[lang=ar] #header.compact #proxies #photoImg_morecontainer {
  top: -1.9em;
}
#proxies .preview #photoImg_morecontainer,
#proxies .selected:not(.shrink) #photoImg_morecontainer {
  left: 0.1875em;
  top: -2.5625em;
}
#header[lang=ar] #proxies .preview #photoImg_morecontainer,
#header[lang=ar] #proxies .selected:not(.shrink) #photoImg_morecontainer {
  /*rtl:begin:ignore*/
  right: 1.1em;
  /*rtl:end:ignore*/
}
html[lang=ar] #proxies .preview #photoImg_morecontainer,
html[lang=ar] #proxies .selected:not(.shrink) #photoImg_morecontainer {
  top: -2.8em;
}
#header.compact #proxies .preview #photoImg_morecontainer,
#header.compact #proxies .selected:not(.shrink) #photoImg_morecontainer {
  left: 0.125em;
  top: -2.25em;
}
#header[lang=ar].compact #proxies .preview #photoImg_morecontainer,
#header[lang=ar].compact #proxies .selected:not(.shrink) #photoImg_morecontainer {
  /*rtl:begin:ignore*/
  right: 0.9em;
  /*rtl:end:ignore*/
}
html[lang=ar] #header.compact #proxies .preview #photoImg_morecontainer,
html[lang=ar] #header.compact #proxies .selected:not(.shrink) #photoImg_morecontainer {
  top: -2.5em;
}
#proxies #photoImg_morecontainer .proxyicon {
  height: 1.5em;
  width: 1.5em;
}
#header.compact #proxies #photoImg_morecontainer .proxyicon {
  height: 1.25em;
  width: 1.25em;
}
#proxies .preview #photoImg_morecontainer .proxyicon,
#proxies .selected:not(.shrink) #photoImg_morecontainer .proxyicon {
  height: 2em;
  width: 2em;
}
#header.compact #proxies .preview #photoImg_morecontainer .proxyicon,
#header.compact #proxies .selected:not(.shrink) #photoImg_morecontainer .proxyicon {
  height: 1.75em;
  width: 1.75em;
}

/* #endregion */
/* #region All dropdowns - Menu and Account */
#header .menugroup {
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: top;
  width: 16.666%;
  font-size: 0.9em;
}
#header .submenu {
  background: #ffffff;
  border: none;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  padding: 0.5rem;
  position: relative;
  text-align: left;
  width: 225%;
  z-index: -1;
}
#header .menugroup.droppeddown .submenu {
  border-radius: 6px;
  display: block;
  opacity: 1;
  z-index: 100;
}

@media (max-width: 1530px) {
  .menugroup:last-child.droppeddown .submenu {
    float: right;
  }
}
#header .menugroup span[role=menuitem] {
  display: block;
  font-weight: bold;
  margin: 0 0 0.25rem 0.5rem;
}
#header .menugroup li[role=menuitem] {
  line-height: 1rem;
}
#header .menugroup li[role=menuitem] a {
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
#header .menugroup span[role=none] {
  display: block;
  font-weight: bold;
  margin: 0 0 0.25rem 0.5rem;
}
#header .menugroup li[role=none] {
  line-height: 1rem;
}
#header .menugroup li[role=none] a {
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
#header .menugroup a:not(.button) {
  color: #565656;
}
#header .menuicon {
  display: block;
  height: 100%;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header a:focus,
#header a:hover {
  text-decoration: none;
}
#header .keywordsearch {
  padding: 1rem 0.5rem 0.25rem;
}
#header .keywordsearch #query {
  display: inline-block;
  margin: 0.125rem 0 0.25rem;
  vertical-align: top;
  width: calc(100% - 1.5rem);
}
#header .keywordsearch .imgbutn {
  display: inline-block;
  height: calc(2rem + 2px);
  margin: 0.125rem 0 0.25rem -1px;
  padding: 0.5rem 0.25rem;
  vertical-align: top;
  width: 1.5rem;
}
#header .keywordsearch .button {
  width: 100%;
}

#account,
#menu .menugroup .menuicon,
#menu .menugroup.selected .menuicon:after {
  transition: all 0.2s;
}

/* #endregion */
/* #region Menu */
#menu {
  padding: 0.25rem 0.25rem 0;
  width: calc(100% - 17% - 18% - 11%);
}
#menu .submenugroup {
  display: inline-block;
  padding: 0 0.75rem 0 0;
  vertical-align: top;
  width: 100%;
}
#menu .submenugroup:last-child {
  padding: 0;
}
#menu .submenu.columns_2 {
  width: 375%;
}
#menu .submenu.columns_2 .submenugroup {
  width: 50%;
}
#menu .submenu.columns_3 {
  width: 525%;
}
#menu .submenu.columns_3 .submenugroup {
  width: 33.33%;
}
#menu .submenu.columns_4 {
  width: 700%;
}
#menu .submenu.columns_4 .submenugroup {
  width: 25%;
}
#menu .menuicon {
  cursor: default;
}
#menu .menuicon:before {
  background: transparent no-repeat center 0/contain;
  content: " ";
  display: block;
  height: 48px;
  margin: 0 auto 0.25rem;
  width: 48px;
}
.compact #menu .menuicon:before {
  color: inherit;
}
#menu .menuicon.health:before {
  background-image: url("../images/menus/health.png");
}
#menu .menuicon.visits:before {
  background-image: url("../images/menus/visits.png");
}
#menu .menuicon.messaging:before {
  background-image: url("../images/menus/messages.png");
}
#menu .menuicon.billing:before {
  background-image: url("../images/menus/billing.png");
}
#menu .menuicon.resources:before {
  background-image: url("../images/menus/resources.png");
}
#menu .menuicon.profile:before {
  background-image: url("../images/menus/profile.png");
}
#menu .menugroup.selected .menuicon:after {
  content: "";
  display: block;
  height: 0.3em;
  margin: 0.25em auto;
  visibility: visible;
  width: 80%;
}
.compact #menu .menugroup.selected .menuicon:after {
  margin: -1.25rem auto 0;
}

/* #endregion */
/* #region Account */
#header #account {
  font-size: 0.9em;
}
#header #account a:not(.button) {
  color: #565656;
}

#account {
  width: 11%;
  max-width: 11%;
  padding: 1rem 1rem 0.5rem 0;
  position: relative;
  right: 0;
}
.compact #account {
  padding-top: 0.5rem;
}
.compact.haslocaleswitch #account {
  width: 7%;
  max-width: 7%;
}
#account .menugroup {
  height: auto;
  text-align: left;
  width: 100%;
}
#account .acctname {
  display: block;
  line-height: 1.5rem;
  margin: 0 0 -0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: calc(13pt * 0.9);
  text-align: left;
}
#account .menuname {
  display: block;
}

/* #endregion */
/* #region Locale Switch */
#header #localeswitch {
  left: auto;
  right: 10px;
  text-align: right;
}

#header.compact #locale_container {
  width: 5%;
  position: absolute;
  top: 0.5rem;
  transition: all ease 0.2s;
}
#header.compact #graphicHeader #localeswitch {
  width: auto;
  top: -0.2rem;
}
#header.compact #localeswitch .localeImg, #header.compact.haslocaleswitch #locale_container .localename {
  display: none;
}
#header.compact #graphicHeader #localeswitch .localeImg {
  display: inline;
}
#header.compact.haslocaleswitch #locale_container .abbreviatedname {
  display: inline;
}

/* #endregion */
/* #region RTL-Specific formatting */
/*rtl:raw:
@supports (position: sticky) {
	body.mobileRTLInNonResponsive #header:not(:empty) {
		position: sticky;
	}
}
@supports (position: -webkit-sticky) {
	body.mobileRTLInNonResponsive #header:not(:empty) {
		position: -webkit-sticky;
	}
}
		
#menu-container .menuitem.menuitem-searchsynonymmatch, .menu-container .menuitem.menuitem-searchsynonymmatch {		
	height: 3.65rem;
}
#menu-container .menuitem.menuitem-searchsynonymmatch .menuitem-icon, .menu-container .menuitem.menuitem-searchsynonymmatch .menuitem-icon {		
	margin-top: 0.95rem;
}

@media only screen and (max-width: 375px) {
	#graphicHeader:not(:empty) #header_logo {
		right: 45%;
	}
}

*/
/* #endregion */
