/* Copyright 2018-2021 Epic Systems Corporation */
@media only screen and (min-width: 1px) and (max-width: 768px) {
  #header .menugroup.droppeddown .submenu {
    position: absolute;
    width: 100vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  html {
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }

  body,
#header .fitme,
#header .fitme.width,
#content,
#footer,
#header:not(:empty) #footer .mainStyle,
#header:not(:empty),
.component.Popup:not(.small) {
    min-width: auto !important;
    min-width: initial !important;
    width: 100%;
  }

  #header:not(:empty) {
    height: 8em;
    padding-top: 0px;
    background-color: transparent;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 50;
  }

  #graphicHeader:not(:empty) #logout_button, #graphicHeader:not(:empty) #localeswitch {
    margin-top: 0.275rem;
  }
  #header.compact #graphicHeader:not(:empty) #logout_button, #header.compact #graphicHeader:not(:empty) #localeswitch {
    margin-top: 0.825rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 1300px) and (min-width: 1px) {
  #graphicHeader:not(:empty) #header_logo_by_epic {
    width: 3rem;
    margin-top: 0.25rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header.compact #graphicHeader:not(:empty) {
    margin-top: auto;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header:not(:empty) + #content #main,
#header:not(:empty) + #toastWrapper + #content #main,
#header:not(:empty) + #content #sidebar,
#header:not(:empty) + #toastWrapper + #content #sidebar {
    padding-top: 9rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header.compact:not(:empty) + #content #main,
#header.compact:not(:empty) + #toastWrapper + #content #main {
    padding-top: 9rem;
  }
  #header.header_graphic:not(:empty) + #content #main,
#header.header_graphic:not(:empty) + #toastWrapper + #content #main {
    padding-top: 8.5rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #header.header_graphic:not(:empty) + #content #main,
#header.header_graphic:not(:empty) + #toastWrapper + #content #main {
    padding-top: 9rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #header.compact.header_graphic:not(:empty) + #content #main,
#header.compact.header_graphic:not(:empty) + #toastWrapper + #content #main {
    padding-top: 2.8rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  body.graphicHeader #main:not(.withSidebar) {
    padding-bottom: 5rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header:not(:empty) .headeritem#proxies {
    position: absolute;
    right: 0px;
    text-align: right;
    height: calc(3rem + 12px);
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header:not(:empty).header_graphic {
    height: 8rem;
    padding-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 50;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #header:not(:empty).header_graphic {
    height: 8.9rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header:not(:empty).header_graphic .header_color {
    margin-top: 0;
    height: 5.6rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header:not(:empty).header_graphic.compact .header_color {
    height: 3.9rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #header:not(:empty).header_graphic.compact .header_color {
    height: 2.8rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) {
    width: calc(100% - 0.3rem);
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #graphicHeader:not(:empty) #header_menu_name,
#graphicHeader:not(:empty) #logout_button,
#graphicHeader:not(:empty) #localeswitch,
#graphicHeader:not(:empty) .currentlySelectedNameInner,
#graphicHeader:not(:empty) .switchPatientsTextOuter {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_logo {
    margin-top: 1.05rem;
  }
  #header.compact #graphicHeader:not(:empty) #header_logo {
    margin-top: 0.2rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #graphicHeader:not(:empty) #header_logo {
    margin-top: 4px;
    height: 2.5rem;
  }
  #header.compact #graphicHeader:not(:empty) #header_logo {
    display: none;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 426px) {
  #graphicHeader:not(:empty) #header_logo {
    min-width: 146px;
    transform: translate(-70%);
  }
  #header[lang=ar] #graphicHeader:not(:empty) #header_logo {
    transform: translate(-63%);
    min-width: 126px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_navigation {
    top: 3.1rem;
    max-width: 100% !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_menu {
    margin-top: -0.4rem;
    max-width: 50%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (min-width: 768px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_menu {
    max-width: 30%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header.compact #graphicHeader:not(:empty) #header_menu {
    margin-top: 0;
    max-width: 30%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (min-width: 1px) and (max-width: 768px) {
  #header.compact #graphicHeader:not(:empty) #header_menu {
    margin-top: 0;
    max-width: 45%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_menu #header_menu_icon {
    box-shadow: 0px 0px 3px #ffffff;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_menu #header_menu_name {
    color: #000000;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_shortcuts {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    max-width: 100%;
  }
  #graphicHeader:not(:empty) #header_shortcuts .shortcut {
    padding: 0;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #graphicHeader:not(:empty) #header_shortcuts .shortcut_name {
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_shortcuts .shortcut_link {
    min-width: 3rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #graphicHeader:not(:empty) #header_shortcuts .shortcut_link .shortcut_icon {
    margin: 0;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_extras_actions {
    margin-top: 0;
    margin-right: 0.3rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) and (max-width: 768px) {
  #graphicHeader:not(:empty) #header_extras_actions #logout_container #logout_text {
    display: none;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #graphicHeader:not(:empty) #header_extras_proxy {
    margin-right: 0.3rem;
  }
  #header.compact #graphicHeader:not(:empty) #header_extras_proxy {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  #header #proxies {
    width: auto;
    max-width: 60%;
    padding-left: 0rem;
    overflow: visible;
    padding-top: 0.5rem;
  }
  #header #proxies .proxy.selected:not(.hidebar):after {
    display: none;
  }
  #header #proxies .iconlabel {
    margin: -0.4rem 0 0 -50%;
  }
  #header #proxies .proxy {
    margin: 0 -0.5em;
  }
  #header #proxies .proxy.preview, #header #proxies .proxy.selected:not(.shrink) {
    transform: scale(0.9);
    margin-right: -0.2rem;
  }

  #header #proxies .proxy:not(.preview),
#header.compact #proxies .proxy:not(.preview) {
    width: 2.5em;
  }
  #header #proxies .proxy:not(.preview).selected:not(.shrink),
#header.compact #proxies .proxy:not(.preview).selected:not(.shrink) {
    width: 3.5em;
  }
  #header #proxies .grow .proxyicon,
#header #proxies .preview > a .proxyicon,
#header #proxies .selected:not(.shrink) > a .proxyicon,
#header #proxies #moretabs .proxyicon,
#header #proxies #moretabs .grow .proxyicon,
#header.compact #proxies .grow .proxyicon,
#header.compact #proxies .preview > a .proxyicon,
#header.compact #proxies .selected:not(.shrink) > a .proxyicon,
#header.compact #proxies #moretabs .proxyicon,
#header.compact #proxies #moretabs .grow .proxyicon {
    transform: scale(0.9);
    border-width: 1px;
  }
  #header #proxies .proxy .proxyicon,
#header.compact #proxies .proxy .proxyicon {
    transform: scale(0.8);
  }

  #header #proxies #moreTabsTab {
    display: none;
  }

  #header.compact #proxies .selected.proxy > a .iconlabel {
    width: 100%;
    top: 3.2rem;
    right: 0;
    margin: 0;
    cursor: default;
    transition: background-color 0.2s;
    opacity: 1;
    visibility: visible;
    position: absolute;
    font-weight: bold;
    color: #000000;
  }

  #header.compact #proxies {
    max-width: none;
    width: 100%;
  }
  #header.compact #proxies .selected.proxy, #header.compact #proxies .selected.proxy#moreTabsTab {
    display: inline-block;
    overflow: hidden;
    position: static;
    transform: none;
    transition: none;
  }
  #header.compact #proxies .selected.proxy#moreTabsTab {
    width: 0;
    margin-right: 0.5rem;
  }
  #header.compact #proxies .selected.proxy > a .proxyicon {
    transform: scale(0.8);
    transition-property: height;
  }

  #touchmenu {
    position: fixed;
    visibility: visible;
    z-index: 101;
    left: 0px;
    top: 4.5rem;
    padding-bottom: 6rem;
    width: 100vw;
    height: calc(100vh - 4.5rem);
    max-width: none;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-y: auto;
  }

  #touchmenu-toggle {
    position: absolute;
    right: 0;
    top: 1.25rem;
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;
  }
  #touchmenu-toggle:after {
    position: absolute;
    content: "";
    right: 0.25rem;
    top: 0.75rem;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #cc0000;
  }

  #header #proxies {
    padding-right: 2rem;
  }

  #touchmenu .proxy {
    display: block;
    position: relative;
    opacity: 1;
    height: 3em;
    padding: 12px 0px;
    padding-right: 3rem;
    box-sizing: content-box;
    text-align: right;
  }
  #touchmenu .proxy a:hover .proxyicon {
    transform: scale(1.1);
  }
  #touchmenu .proxy a {
    padding: 1rem 2rem;
  }
  #touchmenu .proxyicon {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle;
  }
  #touchmenu .iconlabel {
    color: #ffffff;
    text-align: right;
    line-height: 3.5rem;
    max-width: none;
  }
  #touchmenu .selected:not(.shrink) > a .iconlabel {
    color: #cc0000;
  }
  #touchmenu .proxy.selected:not(.hidebar):after {
    height: 0px;
  }

  #header #account.headeritem {
    visibility: hidden;
    display: none;
  }

  #touchmenu-account {
    width: 100vw;
    padding: 0rem;
    max-width: none;
    height: 3.5rem;
    background: #fbebeb;
  }
  #touchmenu-account .menugroup {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  #touchmenu-account .menugroup > * {
    margin: 0;
    padding: 0 1rem;
    line-height: 3.5rem;
    height: 3.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #touchmenu-account .acctname {
    padding-right: 0;
    flex-grow: 2;
    text-align: left;
  }
  #touchmenu-account .menuname {
    text-align: right;
    font-size: 1rem;
    color: #cc0000;
  }

  #localeswitch {
    visibility: hidden;
  }
  body.graphicHeader #localeswitch {
    visibility: visible;
  }
  html.shareeverywhere #localeswitch {
    visibility: visible;
  }
  .midlogin #localeswitch {
    visibility: visible;
  }

  #touchmenu-locale_container {
    visibility: visible;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100vw;
    padding: 0rem 1rem;
    line-height: 3.5rem;
    text-align: right;
    max-width: unset;
    min-height: 3.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #fbebeb;
  }
  #touchmenu-locale_container .localename {
    vertical-align: top;
  }
  #touchmenu-locale_container .abbreviatedname,
#touchmenu-locale_container .dropdownSelector,
#touchmenu-locale_container .localeImg, #touchmenu-locale_container #localeswitch {
    display: none;
  }

  #menu {
    padding: 6px 0 0;
  }

  #header #menu.headeritem {
    display: flex;
    justify-content: space-around;
    height: 3.8rem;
    pointer-events: all;
    width: 100%;
  }

  #header #menu .menugroup {
    width: 16.6667%;
  }

  #proxies.droppeddown ~ #menu.headeritem {
    display: none;
  }

  #menu .menuicon {
    font-size: 0.75rem;
    line-height: normal;
  }
  #menu .menuicon::before {
    margin: 0 auto;
    height: 2rem;
  }

  .compact #menu .menugroup.selected .menuicon:after {
    margin-top: 0.25rem;
  }

  #header .menugroup.droppeddown .submenu {
    left: 0px;
    padding: 1em;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
  }
  #header .menugroup.droppeddown .submenu li {
    margin-bottom: 0.75rem;
  }

  #header #logo {
    width: 10rem;
    max-width: 40%;
    height: 3.5rem;
    background-position: center left;
    margin-top: 12px;
    transition: all 0.2s;
    position: relative;
    z-index: 51;
  }
  #header.compact #logo {
    opacity: 0;
  }

  .isInside #header:not(:empty) {
    transition-property: all;
  }

  .isInside #header.compact:not(:empty) {
    height: 8rem;
    top: -3.2rem;
  }

  .isInside #header.header_graphic.compact:not(:empty) {
    height: 3.9rem;
    top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .isInside #header.header_graphic.compact:not(:empty) {
    height: 2.8rem;
  }
}
@media only screen and (min-width: 1301px) {
  #touchmenu {
    visibility: hidden;
  }

  #touchmenu-toggle {
    display: none;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1px) {
  html[lang=ar] #menu .menuicon::before {
    margin-bottom: 0.25rem;
  }
  #header[lang=ar] #menu .menuicon::before {
    margin-bottom: 0;
  }

  html[lang=ar] #header .menuicon {
    line-height: 1rem;
  }

  html[lang=ar] #header #menu.headeritem {
    height: 3.9rem;
  }
  #header[lang=ar] #menu.headeritem {
    height: 5.1rem;
  }
  #header[lang=ar].compact #menu.headeritem {
    height: 4rem;
  }

  html[lang=ar] #header:not(:empty) {
    height: 8.2rem;
  }

  html[lang=ar] #header:not(:empty).header_graphic {
    height: 8.2rem;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1px) {
  html[lang=ar] .isInside #header.compact:not(:empty) {
    height: 8.2rem;
  }

  .isInside #header[lang=ar].compact:not(:empty) {
    height: 8.2rem;
    top: -3.8rem;
  }

  html[lang=ar] .isInside #header.header_graphic.compact:not(:empty),
.isInside #header[lang=ar].header_graphic.compact:not(:empty) {
    height: 3.9rem;
    top: 0;
  }

  #header[lang=ar].compact #proxies .selected > a .iconlabel {
    top: 3.8rem;
  }

  #header[lang=ar] #menu {
    padding: 18px 0 0;
  }

  #header[lang=ar] #proxies .proxy {
    margin: 0 -0.6em;
  }
}
@media only screen and (max-width: 768px) {
  html[lang=ar] #header:not(:empty).header_graphic {
    height: 9.3rem;
  }

  html[lang=ar] .isInside #header.header_graphic.compact:not(:empty),
.isInside #header[lang=ar].header_graphic.compact:not(:empty) {
    height: 2.8rem;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  .proxySelectorDropDownContainer .proxyButton {
    /*turn to dark when white chevron available background: transparentize($_BasicColor-Black,0.45);*/
    background: rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    color: #ffffff;
    box-shadow: none;
  }
  [data-altstylesheet="High Contrast"] .proxySelectorDropDownContainer .proxyButton {
    background: #000000;
    border: 1px solid #ffffff;
  }
  .proxySelectorDropDownContainer .proxyButton .roundedPatientPhoto {
    height: 2.2rem;
    width: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.5rem;
    margin-top: 2px;
  }
  .proxySelectorDropDownContainer .proxyButton .currentlySelectedNameInner {
    color: #ffffff;
    line-height: 1.2rem;
  }
  .proxySelectorDropDownContainer .proxyButton .switchPatientsTextOuter:after {
    border-color: white transparent transparent transparent;
    margin-left: 0.2rem;
  }
  .proxySelectorDropDownContainer .proxyButton .proxyChevronImage {
    fill: #ffffff;
  }
  .proxySelectorDropDownContainer .proxyButton:hover, .proxySelectorDropDownContainer .proxyButton:focus {
    filter: brightness(1.2);
    box-shadow: 0 0 3px 0 #ffffff;
  }
  .proxySelectorDropDownContainer .proxyButton .switchPatientsTextOuter {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1px) and (max-width: 768px) {
  .proxySelectorDropDownContainer .currentlySelectedNameInner {
    max-width: 100px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1px) {
  #graphicHeader:not(:empty) #header_extras_proxy #proxy_container {
    margin-top: 0.275rem;
  }
}
@media only screen and (max-width: 768px) {
  #header.compact #graphicHeader:not(:empty) #logout_button, #header.compact #graphicHeader:not(:empty) #header_extras_proxy #proxy_container {
    margin-top: 0.275rem;
  }
  #header.compact #graphicHeader:not(:empty) #header_navigation {
    top: 3px;
  }
}
