/* Copyright 2018-2019 Epic Systems Corporation */
.grid > .row {
  max-width: auto;
  max-width: initial;
}
.grid > .row > .col,
.grid > .row > .col-1,
.grid > .row > .col-2,
.grid > .row > .col-3,
.grid > .row > .col-4,
.grid > .row > .col-5,
.grid > .row > .col-6,
.grid > .row > .col-7,
.grid > .row > .col-8,
.grid > .row > .col-9,
.grid > .row > .col-10,
.grid > .row > .col-11,
.grid > .row > .col-12 {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 1rem;
  margin-right: 12px;
  word-wrap: break-word;
  margin-left: 0;
  margin-bottom: 12px;
}
.grid > .row > .col-1 {
  width: calc(8.3333333333% - 12px);
}
.grid > .row > .col-2 {
  width: calc(16.6666666667% - 12px);
}
.grid > .row > .col-3 {
  width: calc(25% - 12.01px);
}
.grid > .row > .col-4 {
  width: calc(33.3333333333% - 12px);
}
.grid > .row > .col-5 {
  width: calc(41.6666666667% - 12px);
}
.grid > .row > .col-6 {
  width: calc(50% - 12.01px);
}
.grid > .row > .col-7 {
  width: calc(58.3333333333% - 12px);
}
.grid > .row > .col-8 {
  width: calc(66.6666666667% - 12px);
}
.grid > .row > .col-9 {
  width: calc(75% - 12px);
}
.grid > .row > .col-10 {
  width: calc(83.3333333333% - 12px);
}
.grid > .row > .col-11 {
  width: calc(91.6666666667% - 12px);
}
.grid > .row > .col-12 {
  width: calc(100% - 12px);
}

@media only screen and (max-width: 768px) {
  .grid > .row:not(.fixed) > [class*=col],
.grid.insulated > .row:not(.fixed) > [class*=col],
.grid.compact > .row:not(.fixed) > [class*=col] {
    width: 100% !important;
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 1300px) {
  .md-hide {
    display: none;
  }
}
.soonvisits .date {
  width: 100%;
}

.TestResults .ColumnHeader.grid {
  margin-bottom: 0;
}
.TestResults .ColumnHeader.grid .grid {
  margin-top: 12px;
  margin-bottom: 6px;
}

.TestResultsList .SingleResult [class*=Wrapper] {
  margin-bottom: 0;
}

.isPrelogin #footer .grid {
  margin: 0px;
}
.isPrelogin #footer .links {
  vertical-align: bottom;
}

.externalheader .contactinfo.row {
  margin-bottom: 6px;
}

@media only screen and (min-width: 769px) {
  .soonvisits .date {
    min-width: 50px;
    margin-left: -12px;
  }

  .md_labdetail .components .sm-only,
.md_testresults_details .components .sm-only {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .title,
h1 {
    line-height: normal;
  }

  .menudetailstable .leftcolumn {
    display: none;
  }

  .dataselect label ~ :not(label) {
    float: left;
  }
  .dataselect span.inlineinput {
    clear: both;
    width: 15vw;
    padding-top: 6px;
  }
  .dataselect [id*=_recentvalue] + .inlineinput {
    clear: none;
    width: auto;
  }
  .dataselect #apply {
    clear: both;
  }

  #tbl-container {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .timeLineHeader {
    font-size: 0.8rem;
  }

  .Visits .filters {
    padding-bottom: 4px;
  }
  .Visits .filters .dropdown {
    position: static;
  }
  .Visits .filters .dropdown-content {
    position: absolute;
    left: 0px;
    overflow-x: scroll;
  }
  .Visits .filters.extendedBar {
    height: auto;
  }
  .Visits .filters .tbContainer {
    display: block;
    clear: both;
    float: none;
    position: static;
  }

  .Visits .truncate,
.optionCell > label {
    max-width: 90vw !important;
    word-break: break-word;
  }

  .md_visitdetails_index div.triangle {
    display: block;
  }
  .md_visitdetails_index div.visitinformation {
    max-width: 100%;
    width: 100% !important;
  }
  .md_visitdetails_index div.smallcards div.section.smallcard:not(:first-child) {
    border-left: 0px;
    border-top: 1px solid #dbdbdb;
  }
  .md_visitdetails_index .smallcard {
    height: auto !important;
  }
  .md_visitdetails_index div.smallcards div.section.smallcard div.content .buttoncontainer {
    position: static;
  }

  .BeforeTestResultsList .FilterWrapper,
.BeforeTestResultsList .ToggleWrapper {
    padding-left: 0;
  }
  .BeforeTestResultsList .ToggleWrapper > * {
    display: inline-block;
  }
  .BeforeTestResultsList .ToggleInpatient {
    margin: 0 1rem 0.65rem 0.5rem;
  }

  .TestResultsList .SingleResult.Header {
    max-height: none;
    height: auto;
    width: 100%;
  }
  .TestResultsList .SingleResult [class*=Wrapper] {
    margin: 0 12px;
  }
  .TestResultsList .SingleResult .ResultType,
.TestResultsList .SingleResult .orgicon {
    min-width: 32px;
  }
  .TestResultsList .SingleResult .ResultType {
    margin-top: 12px;
    padding-top: 0;
  }
  .TestResultsList .SenderName .hidden {
    display: inline;
  }
  .TestResultsList .SingleResult .CommentIcon {
    width: 17px;
    height: 17px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
  .TestResultsList .SingleResult .orgicon {
    margin: -24px 0 0 10px;
  }

  .md_labdetail .tableLayoutFixed,
.md_testresults_details .tableLayoutFixed {
    table-layout: auto;
  }
  .md_labdetail #results .components,
.md_testresults_details #results .components {
    display: block;
  }
  .md_labdetail #results .components thead,
.md_testresults_details #results .components thead {
    display: block;
    visibility: hidden;
    height: 0;
    padding: 0;
  }
  .md_labdetail #results .components tbody,
.md_testresults_details #results .components tbody {
    display: block;
  }
  .md_labdetail #results .components th,
.md_testresults_details #results .components th {
    display: block;
  }
  .md_labdetail #results .components tr,
.md_labdetail #results .components td,
.md_testresults_details #results .components tr,
.md_testresults_details #results .components td {
    display: block;
  }
  .md_labdetail #results .components tr,
.md_testresults_details #results .components tr {
    padding: 12px;
  }
  .md_labdetail #results .components tr:not(.comments):not(:first-child),
.md_testresults_details #results .components tr:not(.comments):not(:first-child) {
    margin-top: 6px;
  }
  .md_labdetail #results .components td,
.md_testresults_details #results .components td {
    padding: 0;
    border: none;
  }
  .md_labdetail #results .components .label,
.md_testresults_details #results .components .label {
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .md_labdetail #results .components .nameCol,
.md_testresults_details #results .components .nameCol {
    font-size: 1.25rem;
    line-height: normal;
  }
  .md_labdetail #results .comments,
.md_testresults_details #results .comments {
    background: #f8f8f8;
    padding: 0.5rem 0;
  }
  .md_labdetail #results .comments td,
.md_testresults_details #results .comments td {
    padding-left: 0;
  }

  .homepage .ToDoEvents .multiMonthCalendar.component {
    display: none;
  }
  .homepage .ToDoEvents .ToDolist.component {
    width: 100%;
  }

  .MessageList .SingleMessage.collapsed, .MessageList .SingleMessage.collapsed .head {
    height: 7rem !important;
  }
  .MessageList .SingleMessage.expanded .head {
    height: auto !important;
  }

  .MessageSummary {
    padding-left: 46px;
  }

  ul.MessageList li .actionButtons {
    right: 0px;
    position: static;
  }
}
@media only screen and (max-width: 1300px) {
  .homepage .Alerts,
.homepage .ToDoEvents,
.homepage .news {
    height: auto !important;
    min-height: 0px;
  }

  .menudetailstable .leftcolumn {
    display: none;
  }

  .externalheader .contactinfo.nocontact .address {
    left: 0;
    width: 100%;
  }

  .SingleMessage.expanded {
    height: auto !important;
  }
}
