
/* BEGIN EPIC COMMUNITY MEMBER CUSTOM CSS */
/* Epic recommends any additional CSS be placed below this line. Avoid adding CSS above because it makes it difficult to determine which are your changes and which are Epic's. */

#features li:nth-child(1):before {
	background: rgba(0, 0, 0, 0) url("../images/quicklinks/appointments.png") no-repeat center center;
}
#features li:nth-child(2):before {
	background: rgba(0, 0, 0, 0) url("../images/quicklinks/researchstudies.png") no-repeat center center;
}
#features li:nth-child(3):before {
	background: rgba(0, 0, 0, 0) url("../images/quicklinks/health_record.png") no-repeat center center;
}
#features li:nth-child(4):before {
	background: rgba(0, 0, 0, 0) url("../images/quicklinks/test_results.png") no-repeat center center;
}
.button.tall.newworkflow {
 
    display: none

}
#features li:nth-child(5):before {
	background: rgba(0, 0, 0, 0) url("../images/quicklinks/medical_advice.png") no-repeat center center;
}
#features li:nth-child(6):before {
	background: rgba(0, 0, 0, 0) url("../images/quicklinks/info.png") no-repeat center center;
}
#features .icon-info {
    background-image: url("../images/quicklinks/info.png"); }

body #extPmtPageFrame {
height: 55em;
overflow-y: visible;
}

body #guestPay-content #extPmtPageFrame {
height: 38rem;overflow-y: visible;
}
body #guestPay-content .formbuttons {
margin-bottom: 5rem;
}
@media only screen and (max-width: 1300px) {
.loginiframe {
display: none;
}
}
