/* Copyright 2018 Epic Systems Corporation */
.section .report {
  background-color: #ffffff;
  background-image: none !important;
  line-height: normal;
  padding: 16px;
}
*:lang(en) .section .report .page td {
  width: 1000px;
}
.section .report .page {
  width: 100%;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.2em;
  color: #333366;
  background: #ffffff;
}
.section .report .thead {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 110%;
}
.section .report .tddata {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 100%;
}
.section .report .chead {
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  vertical-align: top;
  padding-right: 10px;
}
.section .report .cdata {
  vertical-align: top;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  padding-right: 10px;
}
.section .report .lhead {
  width: 15% !important;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  font-size: 1.1em;
  text-align: right;
  padding-right: 6px;
  vertical-align: top;
  padding-top: 2px;
}
.section .report .shead {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  background-color: #d7d7d7;
  font-size: 95%;
  text-align: center;
}
.section .report .subhead {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  padding-right: 6px;
  vertical-align: top;
  font-size: 80%;
}
.section .report .subcell {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 90%;
  vertical-align: top;
  padding-right: 6px;
  padding-top: 3px;
}
.section .report .cidata {
  font-family: sans-serif;
  font-size: 90%;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 25px;
}
.section .report .headrule {
  height: 5px;
}
.section .report .bigrule {
  height: 5px;
}
.section .report .medrule {
  height: 1px;
}
.section .report .thinrule {
  color: #b6b6b6;
  height: 1px;
}
.section .report .subrule {
  color: #b6b6b6;
  height: 1px;
}
.section .report .banner {
  display: none;
}
.section .report .bhead {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.section .report .lowhead {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  padding-right: 6px;
  vertical-align: bottom;
}
.section .report pre {
  font-family: monospace;
  font-size: 12px;
}
.section .report li {
  vertical-align: middle;
}
.section .report img {
  margin: 1px 3px;
  vertical-align: baseline;
}
.section .report p {
  white-space: normal;
}
.section .report .font2 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .font3 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .font7 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .font8 {
  FONT-FAMILY: courier, courier new, monospace;
}
.section .report .font9 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .font14 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .font19 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .font20 {
  FONT-FAMILY: arial, helvetica, sans-serif;
}
.section .report .BrStyle {
  font-family: arial, sans-serif;
  font-size: 4pt;
}
.section .report .CmtStyle {
  font-family: arial, sans-serif;
  font-size: 8pt;
  vertical-align: top;
}
.section .report .TblStyle {
  font-family: arial, sans-serif;
  font-size: 8pt;
  vertical-align: top;
  border-width: 1px;
  border-collapse: collapse;
}
.section .report .ThdStyle {
  font-family: arial, sans-serif;
  font-size: 8pt;
  text-decoration: underline;
}
.section .report .CellStyle {
  font-family: arial, sans-serif;
  font-size: 8pt;
  vertical-align: top;
}
.section .report .ButStyle {
  font-family: arial, sans-serif;
  font-size: 8pt;
  vertical-align: middle;
  font-weight: normal;
}
.section .report .TitleStyle {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}
.section .report .WndStyle {
  font-family: arial, sans-serif;
  font-size: 8pt;
  vertical-align: top;
  border-width: 1px;
  border-collapse: collapse;
}
.section .report .strikethroughstyle,
.section .report .strikethroughstyle * {
  text-decoration: line-through;
}
.section .report .top .betweenReports {
  page-break-after: always;
}
.section .report .bottom .betweenReports {
  page-break-after: auto;
}
.section .report .pagebreak {
  page-break-after: always;
}
@media print {
  .section .report .page {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    background: #ffffff;
  }
  .section .report .displayonly {
    display: none;
  }
  .section .report .banner {
    display: none;
  }
  .section .report .printonly {
    display: inline;
  }
  .section .report pre {
    font-family: monospace;
    font-size: 10px;
  }
}
.section .report .theader {
  display: table-header-group;
}
.section .report .tfooter {
  display: table-footer-group;
}
.section .report table tbody tr {
  background-color: inherit;
}
.section .report .header,
.section .report table thead tr {
  color: inherit;
}
.section .report div.svgIcon,
.section .report .headerAVS .headerBottom > * {
  width: auto;
}
.section .report div.svgIcon svg {
  max-width: none;
}
.section .report input {
  display: inline-block;
  margin: auto;
}

.md_visitsummary .section#instructions table tbody tr {
  background-color: transparent;
}
.md_visitsummary .section#instructions > *:not(.report) tr td {
  border-style: none;
}
